*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

*~
*.lock
*.DS_Store
*swp
*.out
*.gem
*.sh

# YARD artifacts
.yardoc
_yardoc
doc/
public/.sass-cache/**/*