%link(rel='stylesheet' href='/css/bootstrap.css' type='text/css')
%link(rel='stylesheet' href='/css/bootstrap-responsive.css' type='text/css')
%link(rel='stylesheet' href='/css/app.css' type='text/css')